#store-page{width:100%;min-height: 100%; max-width:7.5rem; min-width:3.2rem; background:rgb(247, 248, 250);background-color: #f7f8f9; margin:0 auto;-webkit-overflow-scrolling:touch;position: absolute; top:1.1rem;  left:50%; visibility: visible; transform:translateX(-50%); /* overflow-y:scroll;*/}
.banner{position: relative;overflow: hidden;}
.banner .caption{position: absolute;font-size: 0.4rem;text-transform: uppercase;text-align: center;width: 100%;font-weight: 400;line-height: 20px;top: 50%;transform: translateY(-50%);left: 0;}
.banner .caption p{font-size: 0.32rem;font-weight: 700;color: #333;}
.banner img{width: 100%;height: auto;background: silver;border: 0;vertical-align: middle;}



.apply-section{padding: 0 .4rem;background: #fff;padding-top: 0.5rem!important;padding-bottom: 0.2rem!important;}
.apply-inner{text-align: center;border-bottom: 1px solid #eee;padding-bottom: 0.4rem;}
.apply-inner,.steps-inner,.products-inner,.faq,.contact h3{font-size: 0.36rem;color: #333;text-align: center;line-height: 24px;}   
.apply-inner,.products-inner p{padding-top: 0.2rem;color: #333;font-size: 0.24rem;line-height: 18px;}


.steps-inner{padding-top: 0.4rem!important;padding-bottom: 0.4rem;border-bottom: 1px solid #eee;}
.steps-content ul{margin-top: 0.2rem;margin-bottom: 0.2rem;padding: 0;}
.steps-content ul li{position: relative;display: table;padding-bottom: 0.36rem;padding-top: 0.32rem;}
.steps-content ul li:first-child{padding-top: 0;}    
.steps-content ul li div{background: rgba(68,168,242,.5);width: 1.2rem;height: 1.2rem;border-radius: 60px;float: left;text-align: center;}        
.steps-content ul li div img{width: 0.6rem;top: 50%;left: 25%; transform: translateY(-50%);position: relative;vertical-align: middle;border: 0;}    
.steps-content ul li span{position: relative; display: table-cell;vertical-align: middle;padding-left: 10px;font-size: 0.28rem;}        
.steps-content ul li:after{content: "";background: url(../images/15.svg) no-repeat;width: 0.4rem; height: 0.4rem;display: block;position: absolute;bottom: -0.3rem;left: 0.4rem;}        
.steps-content ul li:last-child:after{background: none;}    


.products-inner{padding-top: 0.4rem!important;text-align: center;}
.products-inner p{padding-bottom: 0.2rem}
.products-inner p a{font-size: 0.24rem;color: #44a8f2;}




.swiper-slide a{height: 100%;min-height: 1px;}
.swiper-slide a img{display: block;width: 100%;border: 0;vertical-align: middle;}    
.swiper-slide a p{font-size: 0.36rem;color: #333;text-align: center;line-height: 24px;margin-bottom: 0.2rem;}   




.form-section{padding: 0 0.4rem;background: #fff;padding-bottom: 0.4rem!important;padding-top: 0.2rem!important;} 
.form-section div{text-align: center;width: 100%;padding-bottom: 0.2rem;} 
.form-section div button{border-radius: 0.06rem;padding: 0.28rem 1.4rem;background: #44a8f2;font-size: 0.32rem;color: #fff;display: inline-block;text-align: center;text-transform: uppercase;outline: 0;border: 0;}   
    
.faq{padding:0 0.4rem;margin-top: 0.2rem;background: #fff;padding-top: 0.4rem!important;padding-bottom: 0!important; }    
.faq div{padding-bottom:0.4rem;text-align: left;} 
.faq div h4{color: #333;font-size: 0.28rem; margin-top: 0.2rem; margin-bottom: 0.2rem;font-weight: 500;line-height: 1.1;}
/*.faq div h4:before{counter-increment:section;content:counter(section) ". ";}*/
.faq div p{color:#707473;font-size: 0.24rem;line-height: 0.36rem;} 




.contact{padding: 0 0.4rem;margin-top:0.2rem;background: #fff;padding-top: 0.4rem!important;text-align: center;padding-bottom:0.4rem!important;}
.contact p{padding-top: 0.2rem;font-size: 0.28rem;line-height: 0.36rem;color: #333;}    
.contact div{padding-top: 0.4rem;position: relative;}
.contact div img{width:0.74rem;position: absolute;left: 15%;}        
.contact div span{padding-left:0.2rem;font-size: 0.28rem;}
.contact div span a{color: #44a8f2;}

    

























