/* CSS Document */
*,*:before,:after{ margin:0; padding:0;box-sizing:border-box;-webkit-tap-highlight-color: rgba(0,0,0,0);}

body, header, footer, section, div, span, p, img, a, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, em, i, b, u, del, menu, nav, fieldset, legend, article, aside, details, figcaption, hgroup, pre, code, from, blockquote, th, td, tr, hr, table, img, figure, button, input, textarea{padding: 0;margin: 0;box-sizing:border-box;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-user-select: none;-webkit-text-size-adjust: none;}
h1,h2,h3,h4,h5,h6,em,i,b,u{font-size:100%; font-style:normal; font-weight:normal;}
ul,li,ol{ list-style:none;}
img,fildset{border:0 none; display:block;vertical-align: middle;}
input,textarea{-webkit-user-select: auto !important;resize:none;/*调整尺寸*/}
:focus{ outline:none;}
input[type="submit"], input[type="reset"], input[type="button"], input[type="password"], input[type="text"], input[type="search"], input[type="number"], button {
	-webkit-appearance: none;/*清除表单中对角的外观样式*/
	outline: none;
}
.clearfix:after {
	content: " ";
	clear: both;
	display:block;
	height:0;
	line-height:0;
	font-size:0;
	visibility:hidden;
	
}
a,a:link,a:visited{text-decoration: none; color:#333;}
a:hover{ color:#ff6699;text-decoration: none;}


body {font-family: "microsoft yahei", "\534E\6587\7EC6\9ED1", Verdana, Arial, Helvetica, sans-serif; 
font-size:28px;  background:rgb(248, 247, 252);

                 /*微软雅黑      华文细黑                                         最后一个字体：ios系统默认 */}
				 
				 
html{font-size:100px;/*作为一个基本单位   100px=1rem*/}



@font-face {font-family: 'iconfont';
			src: url('../fonts/iconfont.eot');
			src: url('../fonts/iconfont.eot?#iefix') 
			format('embedded-opentype'), 
			url('../fonts/iconfont.woff') format('woff'), 
			url('../fonts/iconfont.ttf') format('truetype'),
			 url('../fonts/iconfont.svg#iconfont') format('svg');}
.iconfont {font-family: "iconfont" !important;
			font-size: 24px;font-style: normal;-webkit-font-smoothing: antialiased;
			-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;
			color: #707473;text-align:center;line-height: 16px;}
/*header*/
header{width: 100%;min-height: 0.88rem; position: fixed;top: 0;left: 0;z-index: 1000;transition: height ease-in 200ms;/*max-width:7.5rem; min-width:3.2rem; left:50%; transform:translateX(-50%); */}
header .m-nav{width: 100%; position: relative;z-index: 1002;border-bottom: 1px solid transparent;box-shadow: 0 1px 6px rgba(0,0,0,.12), 0 1px 4px rgba(0,0,0,.12);background: #fff;}
header .m-nav .menu-icon{position: absolute;width:0.44rem; height:0.44rem;left:0.3rem; top:0.3rem;outline: 0;border: 0;background: #fff;}
header .m-nav .logo-link{background: url(../images/dj1.svg) 50% no-repeat;display: block;width: 2rem;height: 1.08rem;margin: 0 auto;background-size: 1.8rem;}
header .m-nav .account-btn{background:url(../images/dj2.svg) 50% no-repeat;position: absolute;top: 0rem;right: 1rem;width: .8rem;height: 1.1rem;}
header .m-nav .cart-btn{background:url(../images/dj3.svg) 50% no-repeat;position: absolute;top: 0rem;right: 0.3rem;width: .8rem;height: 1.1rem;}
header .m-nav .cart-btn span{position: absolute;top: 0.12rem;right: 0;font-weight: 400;font-size: 0.4rem;width: 0.45rem;height: 0.45rem;border-radius: 50%;background-color: #fc495f;font-family: Open Sans;color: #fff;text-align: center;line-height: 0.54rem;}



    