/* CSS Document */
/*图区*/
.wrap{ width:100%; max-width:7.5rem; min-width:3.2rem; background:rgb(247, 248, 250); margin:0 auto;-webkit-overflow-scrolling:touch;position: absolute; top:1.1rem;  left:50%; transform:translateX(-50%);/* overflow-y:scroll;*/}
.m_banner{ width:100%;margin-bottom: 0.2rem;}
.m_banner .swiper-container{ width:100%;}
.m_banner .swiper-container .swiper-slide img{ width:100%;height: 100%;}
.m_banner .swiper-pagination-bullet {width: 0.8rem;height: 0.04rem;display: inline-block;background: #fff;opacity: 0.2;border-radius:0;}
.m_banner .swiper-pagination-bullet-active{ background:#fff; opacity:1;}



/*展示*/
#promotions{width: 100%;height: 2.08rem;padding-bottom: 0.2rem;}
#promotions ul li{float: left;overflow: hidden;width: 50%;min-height: 1.6rem;}
#promotions ul li a{position: relative;display: block;width: 100%;color: #fff;overflow: hidden;}
#promotions ul li a img{display: block;width: 100%;border: 0;vertical-align: middle;}
#promotions ul li a p{position: absolute;right: 0;bottom: 0;left: 0;padding: 0.1rem 0.1rem;line-height: 2.4;font-size: 0.26rem;color: #888;}
    

/*集合区*/
#collections{width: 100%;}
#collections .container{width:100%;height: 4.86rem; margin-bottom:0.2rem;background: #fff;padding-left: 0.3rem;padding-right: 0.3rem;margin-right: auto;margin-left: auto;}   
#collections .container h3{padding-top: 0.3rem;padding-bottom: 0.2rem;margin: 0;font-size:0.3rem;line-height: 1;text-transform: uppercase;font-weight: 400;color: #4a4a4a;}    
#collections .container h3 a{float: right;color: #9B9B9B;font-size: 0.24rem;}    


#collections .container .swiper-down{overflow: hidden;box-sizing: border-box;visibility: visible;/*margin-bottom: -0.6rem;*//*overflow-x: auto;*/}
#collections .container .swiper-down .swiper-wrapper{width: 3.8rem; margin-left: -0.16rem;padding-bottom: 0.6rem;}    
#collections .container .swiper-down .swiper-wrapper .swiper-slide{float: left;margin-left: 0.16rem;/*width: 3.76rem;*/height: 4rem;}
#collections .container .swiper-down .swiper-wrapper .swiper-slide a div{overflow: hidden;height: 2.5rem;font-size: 0;text-align: center;border: 1px solid rgba(0,0,0,.08); margin-right:0!important; }
#collections .container .swiper-down .swiper-wrapper .swiper-slide a div img{display: inline-block;max-height: 100%;vertical-align: middle;border:0;}
#collections .container .swiper-down .swiper-wrapper .swiper-slide a .price-title{display: -webkit-box;padding: 0.06rem 0;line-height: 0.4rem;font-size: 0.24rem;color: #707473;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;} 
#collections .container .swiper-down .swiper-wrapper .swiper-slide a p{font-size: 0.28rem;color: #2d2d2d;}    
#collections .container .swiper-down .swiper-wrapper .swiper-slide a p span{color: #fc495f;font-size: 0.24rem;}    
    
.s-btn{width: 100%;height: 1.2rem;line-height: 1.2rem;background: #44a8f2;font-size: 0.28rem;color: #fff!important;display: inline-block;text-align: center;outline: 0;border: 0;}    
      

/*底部    */
#site-footer{padding-top: 0.2rem;color: #999;text-align: center;font-size:0.24rem; background: #f7f8f9;padding-bottom: 0.8rem; padding-left: 0.3rem;padding-right: 0.3rem;}
#site-footer .ctn-block{height:0.72rem;line-height: 0.72rem;border-bottom: 1px solid #e4e4e4;padding-top: 0;}
#site-footer .ctn-block a{color: #999;display: inline-block;vertical-align: middle;margin-right: 0.3rem!important;font-size: 0.4rem;}    
#site-footer .ctn-block1 a{color: #999;font-size: 0.24rem;margin-right:0.2rem!important;}   
#site-footer p{height: .0.72rem;line-height: 0.72rem;}  







/*购物车*/
#cartwrap{ width:100%;/*height: 82%;*/ max-width:7.5rem; min-width:3.2rem; background:rgb(247, 248, 250); margin:0 auto;-webkit-overflow-scrolling:touch;position: absolute; top:1.1rem;  left:50%; transform:translateX(-50%);}
#cartwrap .title{height: 0.92rem;line-height: 0.92rem;padding: 0 0.3rem;font-size: 12px;background: #f7f8f9;color: #707473;font-weight: 400;text-transform: capitalize;}
#cartwrap .title a{color: #707473; }
#cartwrap .title a:last-child{float: right;}



.cart-list ul{margin-bottom: 10px;}
.cart-list ul li{position: relative;margin-bottom: 0.3rem;background-color: #fff;}
.cart-list ul li div a .item-img{width: 1.4rem;min-height: 1.4rem;margin-right: 0.12rem;float: left}
.cart-list ul li div .item-context p:nth-child(1){color: #707473;font-size:0.28rem;padding: .0.12rem 0 0.04rem;min-height: 0.8rem;line-height: 1.2;}
.cart-list ul li div .item-context p a{width: 3.2rem;color: #707473;text-overflow: ellipsis;overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.cart-list ul li div .item-context p:nth-child(2){color: #2d2d2d;font-weight: 600;}
.cart-list ul li div .item-context p:nth-child(3){max-height: 34px;font-size: 10px;font-weight: 400;color: #707473;text-overflow: ellipsis;overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}   


.cart-list ul li div .quantity{position: absolute;width: 1.6rem;height: 0.6rem;top: 32px;right: 0.3rem;  } 
.cart-list ul li div .quantity div{display: inline-block; float: left;width: 33.3%;height: 0.6rem;border: 1px solid #ccc;position: relative;}   
.cart-list ul li div .quantity div span{position: absolute;top: 0.28rem;display: inline-block;vertical-align: top;height: 2px;width: 10px;left: 50%;margin-left: -5px;}     
.cart-list ul li div .quantity div span:before{position: absolute;content: "";background-color: #979797;height: 100%;width: 100%;}
.cart-list ul li div .quantity div .add1:after{-webkit-transform: translateY(0) rotate(90deg);position: absolute;content: "";background-color: #979797;height: 100%;width: 100%;}
.cart-list ul li div .quantity .cart-num{cursor: default;padding: 0;float: left;width: 33.3%;height: 0.6rem;-webkit-appearance: none;border: 1px solid #ccc;border-width: 1px 0;border-radius: 0;text-align: center;font-size: 0.28rem;color: #4a4a4a;-webkit-text-fill-color: #4a4a4a;}    


.footer{width:100%; /*max-width:7.5rem; min-width:3.2rem;*/ /*height:1rem;*/z-index: 100; background:rgba(255,255,255,1);     position: fixed; bottom:0; left:50%; transform:translateX(-50%);}
.footer .wrapper{padding: 10px .2rem .2rem;background: #fff;}
.footer .wrapper p:nth-child(1){padding-bottom: 0.1rem;line-height: 0.24rem;overflow: hidden;}
.footer .wrapper p span{float: left;line-height: 24px;color: #707473;font-weight: lighter;} 
.footer .wrapper p b{float: right;text-align: right;font-size: 16px; color: #333;line-height: 24px;}   
.footer .wrapper p:nth-child(2){margin-bottom:10px;color: #fc495f;font-size: 10px;clear: both;text-align: right;}
.footer .wrapper button{    height: 34px;line-height: 34px;position: relative;display: block;padding: 0 14px;margin: 0 auto;width: 100%;    font-size: 14px;font-weight: 400;    color: #fff;text-align: center;white-space: nowrap;vertical-align: top;background-color: #44a8f2;border: none;outline: none;text-transform: uppercase;}    
    
    
    

    



    
    












